.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    color: white;
    font-size: 28px;
    background: radial-gradient(56.19% 168.11% at 28.98% -60.9%, #0496C8 0%, #023059 100%);
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    & h1 {
        line-height: 50px;
    }
}
.container {
    background-color: white;
    & .title {
        text-align: center;
        margin-bottom: 40px;
    }
}
.distribution, .worldBrands {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 40px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.distribution {
    & .item {
        cursor: pointer;
        margin-left: 30px;
        &:first-child {
            margin-left: 0px;
        }
    }
    margin-bottom: 30px;
}

.item {
    height: 130px;
    width: 200px;
    margin-bottom: 35px;
    & .description {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    @media screen and (min-width:480px) and (max-width:900px) {
        row-gap: 20px;
        width: 180px;
    }
}

.itemWrapper {
    border: 1px solid #023059;
    border-radius: 3px;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        border: none;
        box-shadow: 0px 0px 21px 5px rgba(34, 60, 80, 0.2);
    } 
    & img {
        max-height: 50px;
        max-width: 150px;
    }
}