.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
}

.container {
    width: 100%;
    background: radial-gradient(56.19% 168.11% at 28.98% -60.9%, #0496C8 0%, #023059 100%);
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.title {
    max-width: 1540px;
    background-image: url('./../../../assets/background/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 300px;
    padding: 0 40px;
    color: white;
    display: flex;
    align-items: center;
    & h1 {
        color: white;
        font-size: 35px;
        max-width: 20%;
        line-height: 50px;
        margin-left: 50px;
        position: absolute;
    }
}

.basis {
    background-image: url('../../../assets/background/bg2.png');
    width: 100%;
    margin: 0 auto;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}