.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: radial-gradient(56.19% 168.11% at 28.98% -60.9%, #0496C8 0%, #023059 100%);
    padding: 40px 0;
}
.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1550px;
    margin: 0 auto;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    & > .logoWrapper {
        @media screen and (min-width:300px) and (max-width:600px) {
            display: none;
        }
    }
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bottom {
    display: flex;
    justify-content: flex-start;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 100%;
    & img {
        width: 150%;
        height: 150%;
        position: relative;
        top: -25px;
        left: -25px;
    }
    padding-bottom: 0px;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-height: 100px;
    margin-left: 100px;
    flex-wrap: wrap;
    @media screen and (min-width:300px) and (max-width:600px) {
        margin-left: 50px;
    }
    @media (max-width: 768px) {
        margin-left: 10px;
        width: 100%;
    }
    & .title {
        color: white;
        position: relative;
        left: -5px;
    }
    & a {
        width: 50%;
        text-align: center;
    }
    &::after {
        content: '';
        position: absolute;
        width: 0.5px;
        height: 80%;
        background-color: gray;
        right: 20px;
        @media (max-width: 768px) {
            background-color: transparent;
        }
    }
}
.list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    & a {
        margin-right: 10px;
        margin-bottom: 20px;
        width: 200px;

    }
    & .title {
        color: white;
    }

}
.requisites {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    color: white;
    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 40px;
    }
    & .title {
        width: 100%;
        padding-left: 70px;
        @media (max-width: 768px) {
            padding-left: 40%;
        }
    }
    & .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & .left {
            max-width: 200px;
        }
        & .right {
            margin-top: 18px;
            display: flex;
            flex-direction: column;
            @media (max-width: 768px) {
                margin-left: 20px;
            }
        }
    }
}
.shortInfo {
    & a{
        color: white;
        &:hover{
            color: #809aeb;
        }
    }
}
