@import '../../assets/fonts/fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}
.wrapper {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    background-color: #EBEEF3;
    @media (max-width: 400px) {
        font-size: 12px;
        line-height: 20px;
    }
}

a {
    text-decoration: none;
    color: #023059;
    &:hover, &:active {
        color: #809aeb;
    }
}

button {
    cursor: pointer;
    background-color: white;
    padding: 0;
    transition-duration: 0ms;
}
