.wrapper {
    width: 100%;
    display: flex;
}
.section {
    color: white;
    font-size: 28px;
    background: radial-gradient(56.19% 168.11% at 28.98% -60.9%, #0496C8 0%, #023059 100%);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}