.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    max-width: 1540px;
    background-color: #ebeef3;
    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 22px;
        flex-direction: column;
    }
}

.contacts {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    margin-left: 10%;
    @media (max-width: 768px) {
        width: 90%;
    }
    & h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.map {
    height: 100%;
    & .iframe {
        width: 700px;
        height: 400px;
        @media screen and (min-width:300px) and (max-width:600px) {
            width: 400px;
            height: 300px;
            margin-top: 50px; 
        }
        @media (max-width: 768px) {
            width: 100%;
            height: 300px;
            margin-top: 50px; 
        }
    }
}
.address, .phone, .email {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    & .title {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: -25px;
        top: 5px;
        background-image: url('../../../assets/icons/map.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.phone {
    &::before {
        background-image: url('../../../assets/icons/phone.png');
    }
}
.email {
    &::before {
        background-image: url('../../../assets/icons/email.png');
    }
}