.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    max-width: 1540px;
    background-color: #ebeef3;
}

.contacts {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    margin-left: 10%;
    & h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.map {
    height: 100%;
}
.address {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    position: relative;
    & .title {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: -25px;
        top: 5px;
        background-image: url('../../../assets/icons/map.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.phone {
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    position: relative;
    & .title {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: -25px;
        top: 5px;
        background-image: url('../../../assets/icons/phone.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}