.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    background-color: white;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 60px 40px;
    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 22px;
        padding: 60px 20px;
    }
    & h2 {
        font-size: 20px;
        color: #023059;
        text-align: center;
        margin-bottom: 40px;
    }
}

.container {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .item {
        width: 40%;
        position: relative;
        margin-bottom: 15px;
        margin-left: 10px;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -25px;
            height: 10px;
            width: 10px;
            background-color: #023059;
            border-radius: 100%;
        }
    }
}