.wrapper {
    box-sizing: border-box;
    display: flex;
    height: 80px;
}
.section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 100;
}
.logo {
    background-image: url('../../../assets/logos/logo.svg');
    width: 100px;
    height: 100px;
    background-size: 100%;
    margin-top: -10px;
}
.phone {
    font-weight: 600;
    @media (max-width: 1100px) {
        position: relative;
        left: -30px;
    }
}

.bottom {
    margin-top: 70px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    @media (max-width: 1100px) {
        display: none;
    }
}
.popupBtn {
    height: 3px;
    width: 25px;
    background-color: #004682;
    border-radius: 3px;
    position: relative;
    &::before, &::after {
        content: "";
        height: 3px;
        width: 15px;
        background-color: #004682;
        border-radius: 3px;
        position: absolute;
        top: -10px;
        left: 0px;
    }
    &::after {
        top: 10px;
    }
    @media (min-width: 1100px) {
        display: none;
    }
}

.btnOpened {
    height: 3px;
    width: 25px;
    position: relative;
    &::before, &::after {
        content: "";
        height: 3px;
        background-color: #004682;
        position: absolute;
        border-radius: 3px;
        width: 25px;
        top: -3px;
        left: 0;
        transform: rotate(-45deg);
    }
    &::after {
        width: 25px;
        top: -3px;
        transform: rotate(45deg);
    }
}

.popup {
    height: 90vh;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease all;
    z-index: 200;
    padding-left: 30px;
    @media (min-width: 1100px) {
        display: none;
    }
}

.closed {
    position: absolute;
    top: -1000px;
}
.opened {
    top: 90px;
    position: absolute;
}